* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald;
}
html{
    margin: 30px 30px 30px 30px;
}
.main {
  width: 100%;
  height: 200vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.container1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  text-align: center;
}
.link, .infor{
    margin-top: 20px;
}
#para{
    width: 100%;
    height: 40%;
    border-radius: 10px;
    background-color: #f5f3f3;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.pic,
.pic2 {
  width: 100px;
}
.pic2{
    margin-top: -20px;
}
.sign{
    display: flex;
}
.sign1{
    flex: 3;
}
.sign2, .sign3{
    background-color: #f5f3f3;
    border: #f5f3f3;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 0 5px;

}
.infor {
  width: 100%;
}
.infor ul {
  list-style: none;
}
.infor ul li {
  padding: 10px;
  border-bottom: 1px solid rgb(237, 236, 236);
  border-top: 1px solid rgb(237, 236, 236);
  margin-top: -1px;
}
.infor a {
  text-decoration: none;
  color: #000;
}
.nav {
  text-align: center;
  width: 100%;
}
#active {
  font-size: 20px;
}
.infor ul li:hover {
  font-size: 20px;
  background-color: #f5f3f3;
  border-right: 3px solid orange;
}
.container2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}
#title1,
#title2,
#title3 {
  color: #000;
  text-decoration-color: yellow;
  text-decoration-thickness: 4px;
}
.bloc1 {
  display: flex;
  width: 100%;
  padding: 15px;
}
.about1 {
  flex: 1;
  width: 80%;
  background-color: orange;
  padding: 15px;
  border-radius: 15px;
  color: white;
}
.about2 {
  flex: 2;
  padding: 15px;
  text-align: center;
}
.text {
  color: cadetblue;
  flex: 2;
}
.bloc2 {
  display: flex;
}
.part1 {
  flex: 1;
  padding: 30px;
  text-align: justify;
}
.part2 {
  flex: 1;
}
.bloc3 {
  display: flex;
}
.web {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.web p{
    padding: 20px;
    text-align: justify;
}
.block4,
.block5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cus1 {
  width: 100%;
  padding: 15px;
}
.fun1 {
  width: 120px;
  height: 170px;
  background-color: #f5f3f3;
  padding: 15px;
  margin: 0 40px;
  text-align: center;
  border-radius: 10px;
}
.fun1 h3 {
  color: yellow;
}
