
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
}
main{
    height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.main{
    background: white;
    height: 90vh;
    width: 90%; 
    display: flex;
    border-radius: 15px;
}
.pic{
    width: 100px;
}
.container1{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    
}
.nav {
    text-align: center;
    width: 100%;
    
}
.nav ul{
    list-style: none;   
}
.nav ul li {
    padding: 10px;   
    border-bottom: 1px solid rgb(237, 236, 236);
    border-top: 1px solid rgb(237, 236, 236);
    margin-top: -1px;   
}
.nav a {
    text-decoration: none;
    color: #000;
}
#active{
    font-size: 20px;
}   
.nav ul li:hover {
    font-size: 20px;
    background-color: #f5f3f3;
    border-right: 3px solid orange;
}

.container2{
    flex: 2;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/home_page_bg_2.jpeg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    color: #fff; 
   
}
.infor ul{
   list-style: none;
   
}
.infor ul li{
    margin: 5px;
    padding: 5px; 
}
.infor ul li a{
    color: white;
    text-decoration-color: #ffff00;
    text-decoration-style: solid ;
    text-decoration-thickness: 2px;
}
.infor ul li::after{
    content: ''; 
    position: absolute;
}
h1{
    font-size: 50px;
}

.p1{
    text-align: center;
    color: darkcyan;
}
